body{
    background-color:rgb(255, 0, 234);
}

*{
    color:white;
}
input{
    width:600px;
    height:80px;
    border-width:auto;
    display:block;
    color:goldenrod;
}
button{
    color:black;
    background-color:yellowgreen;
}