body{
    background-color:rgb(0, 255, 0);
}

*{
    color:black
(255, 255, 255, 0);
}
input{
    width:450px;
    height:60px;
    border-width:2px;
    display:block;
    color:black;
}
button{
    color:black;
    background-color:rgb(0, 109, 128);
}