body{
    background-color:coral;
}

*{
    color:white;
}
input{
    width:200px;
    height:35px;
    border-width:0px;
    display:block;
    color:black;
}
button{
    color:floralwhite;
    background-color:green;
}